* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(12deg, rgba(250,250,250,1) 0%, rgba(212,234,255,1) 100%);
    scroll-behavior: smooth;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-container {
    width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.icon {
    display: flex;
    grid-template-columns: 60px 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

nav {
    background: rgb(239, 235, 235);
    display: flex;
    justify-content: center;
    padding: 2rem 4rem;
    gap: 5rem;
    position: sticky;
    top: 0;
    z-index: 1000; 
    transition: all 0.3s ease;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 100%;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: navy;
    position:  relative;
    transition: transform 0.3s ease;
}

nav a:hover {
    transform: translateY(-5px);
}

nav a::after {
    content: '';
    position: absolute;
    background: rgb(255, 17, 0);
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

.info a:active {
    color: orange
}

.info a:visited {
    color: green;
}

.info a:hover {
    color: red;
}
