* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(211, 210, 210);
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 350px;
    background: white;
    text-align: center;
    margin: 2em auto;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.318);
}

h1 {
    color: blueviolet;
    margin-bottom: 10px;
}

#textBox {
    width: 50%;
    padding: 5px;
    font-size: 2em;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

label {
    font-size: 18px;
    font-weight: bold;
}

button {
    margin-top: 20px;
    padding: 12px;
    background: red;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background: hsl(0, 99%, 40%);
}

#result {
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bold;
}


