* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #252432;
}

ul {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul li {
    list-style: none;
}

ul li a {
    width: 80px;
    height: 80px;
    display: block;
    text-align: center;
    background: white;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid white;
    z-index: 1;
}

ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

ul li a:hover .icon {
    color: white;
    transform: rotateY(360deg);
}

a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: red;
    transition: .5s;
}

a:hover a::before {
    background-color: pink;
}