* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(12deg, rgba(250,250,250,1) 0%, rgba(212,234,255,1) 100%);
    scroll-behavior: smooth;
}

nav {
    background: rgb(239, 235, 235);
    display: flex;
    justify-content: center;
    padding: 2rem 4rem;
    gap: 5rem;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 10px rgb(207, 205, 205);
    z-index: 1000;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: navy;
    position:  relative;
    transition: transform 0.3s ease;
}

nav a:hover {
    transform: translateY(-5px);
}

nav a::after {
    content: '';
    position: absolute;
    background: rgb(255, 0, 0);
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

.h1-container {
    text-align: center;
    padding-top: 3rem;
}

h1 {
    color: navy;
    font-size: 45px;
    position: relative;
    display: inline-block;
}

h1::after {
    content: '';
    background-color: red;
    position: absolute;
    height: 5px;
    left: 50%;
    bottom: -5px;
    width: 50%;
    transform: translateX(-50%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1200px;
    margin: 4rem auto;
    gap: 5rem;
}

.card {
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    background: white;
    backdrop-filter: blur(5px);
    padding: 2rem 1.5rem;
    border: 1px solid rgba(255,255,255,0.3);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-20px);
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    border: 2px solid white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    object-fit: cover;
}

span {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 1rem;
    border-radius: 50px;
    display: inline-block;  /* Important for pseudo-element positioning */
    position: relative; 
}

span::after {
    content: '';
    position: absolute;
    background: rgb(213, 40, 40);
    left: 50%;
    bottom: -5px;
    width: 0;
    height: 3px;
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

.card:hover span::after {
    width: 80%;
}