th, td {
                border: 1px solid black;
                border-collapse: collapse;
                border-color: midnightblue;
                padding: 15px;

}

tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

td:nth-child(even), th:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

tr:hover {
    background-color: yellow;
}

table {
    position: relative;
    top: 20px; right: 20px;
}