* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
}

body {
    background: rgb(24, 24, 32);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: rgb(230, 230, 230);
    padding: 10px;
    margin: 4rem;
}

a {
    text-decoration: none;
    color: white;
    animation: bounce 0.3s ease;
}

footer {
    border-top: grey;
    text-align: center;
    color: grey;
    font-size: 20px;
}

.container {
    margin: 3rem 4rem 0;
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.card {
    padding: 3rem;
    text-align: center;
    font-size: 30px;
    margin: 2rem 0;
    background: linear-gradient(to bottom right, rgb(241, 125, 189), rgb(241, 47, 241), purple) ;
    font-weight: bold;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgb(101, 99, 226);
}

